⚠️ Данные игрока <code>{{ uid }}</code> недоступны.

Пожалуйста, откройте доступ к данным в <a href="https://www.hoyolab.com/setting/gameRecord">настройках HoYoLAB</a>.

После этого повторите <code>/register {{ uid }}</code>.
