📊 Статус эндгейм-режимов:

{% for s in seasons %}<b>{{ s.name }}</b>
{% if s.active %}🟢 Активный сезон
Начало: {{ s.start }}
Конец: {{ s.end }}
Отслеживается игроков: {{ s.tracked }}
{% else %}🔴 Нет активного сезона
{% endif %}
{% endfor %}
